*{
 font-family: sans-serif;
}
body .container {
  width: 30%;
  height: 450px;
}

.container {
  margin: auto;
  margin-top: 40px;
  border-radius: 12px;
  background-image: linear-gradient(180deg, #130754 0%, #3b2f80 100%);
}

.top-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 20px;
}
.top-bar input {
  width: 60%;
  height: 38px;
  border-radius: 20px;
  outline: none;
  border: none;
 

}
.top-bar ::placeholder{
 padding-left: 10px;
 font-size: 1.2rem;
}
.search-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 50%;
  width: 38px;
  height: 38px;
}


.cloud-icon {
  display: flex;
  justify-content: center;

}

.weather-temp {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 2.4rem;
  margin-top: 10px;
}

.weather-loction {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 1.6rem;
}

.data-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  margin-top: 20px;
}

.element {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.data1{
  padding-top: 15px;
}


@media screen and (max-width: 600px) {
  body .container {
    width: 80%; 
  }

  .top-bar input {
    width: 100%;
  }
}
